/* COLORS */
/* IRIS, Primary Brand (CTAs Focused Active states Links) #4D5AE5*/
/* Navy blue, Dark,(Overlays Shadows Headings) #2E2F42*/
/* GREEN, Success (Valid fields Success messages) #31D0AA */
/* SLATE, Text (Body text) #434455 */
/* LIGHT SLATE, Subtle Text (Helper text Deemphasized text) #8E8F99*/
/* cornflower, Accent (Accent color Hairlines Subtle backgrounds) #E7E9FC*/
/* CLOUD, Light (Light mode backgrounds Light mode Dialogs/alerts) F4F4FD */
/* body color #434455 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* root colors  */
:root {
  --irish: #4d5ae5;
  --navyblue: #2e2f42;
  --success: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --clode: #f4f4fd;
  --body: #434455;
  --body-bg-color: #ffffff;
  --button-hero-tc: #ffffff;
  --button-hero-active: #404bbf;
  --border-button-shadow: #e5e5e5;
  --social-footer-bg-color: #ffffff1a;
  --button-close: #000000;
  --transition-time: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --icon-color: #2e2f42;
}

/* toot font size */

/* fonts */
/* Primary-font "Roboto";, secondary-font - "Raleway" */
:root {
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.primary-style {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--body);
  color: var(--body);
  color: var(--body);
  font-weight: 400;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1158 px;
}

.content {
  justify-content: center;
}
/* ---------------------HEADER-------------- */
.header-style {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  box-shadow: 6px 0px 1px rgba(46, 47, 66, 0.08), 1px 0px 1px rgba(46, 47, 66, 0.16),
    1px 0px 2px rgba(46, 47, 66, 0.08);
}

header .container {
  align-items: center;
  width: 100%;
  height: 70px;
  width: 1158px;
}

.js-menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--body-bg-color);
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  transform: translateX(100%);
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-style .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }
}

header .container {
  display: flex;
  width: 428px;
  margin-left: auto;
  margin-right: auto;
}

.logo-web {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--irish);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

.logo-studio {
  text-transform: uppercase;
  color: var(--navyblue);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

.button-mobil-svg {
  width: 32px;
  height: 22px;
  fill: var(--navyblue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-mobil-svg:hover,
.button-mobil-svg:focus {
  color: var(--button-hero-active);
}

@media screen and (max-width: 767px) {
  .nav-transition {
    display: none;
  }

  .header-style .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .navigation-style .logoborger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contacts-style-item {
    display: none;
  }

  .button-mobil {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  /* .button-mobil-svg {
    width: 32px;
    height: 22px;
    fill: var(--navyblue);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-mobil-svg:hover,
  .button-mobil-svg:focus {
    fill: var(--button-hero-active);
  } */

  .mobil-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-bg-color);
    padding-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-modal.is-open {
    transform: translateX(0);
  }

  .mobil-modal-transition-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobil-modal-transition-link {
    font-family: var(--primary-font), sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* line-height: 95%; */
    /* letter-spacing: 0.02em; */
    color: var(--navyblue);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-modal-transition-link:hover,
  .mobil-modal-transition-link:focus {
    color: var(--irish);
  }

  .active-page {
    color: var(--irish);
  }

  .mobil-modal-mailtel {
    margin-top: auto;
  }

  .mobil-modal-mailtel-tel {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 40px;
    color: var(--slate);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-modal-mailtel-tel:hover,
  .mobil-modal-mailtel-tel:focus {
    color: var(--irish);
  }

  .mobil-modal-mailtel .mobil-modal-mailtel-tel {
    display: flex;
    justify-content: center;
  }

  .mobil-modal-mailtel-email {
    display: block;
    font-size: 20px;
    line-height: 24px;
    /* line-height: 102%;
        letter-spacing:0.02em; */
    margin-bottom: 48px;
    color: var(--slate);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobil-modal-mailtel-email:hover,
  .mobil-modal-mailtel-email:focus {
    color: var(--irish);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }

  .button-mobil {
    display: none;
  }
}

/* -----------------mobil-header-and----------------- */

/* ----------------modal-menu */

.button-modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  cursor: pointer;
  fill: var(--button-close);

  transition-property: fill, background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}
.hero-close-link {
  width: 8px;
  height: 8px;
}

.button-hero-close:hover,
.button-hero-close:focus {
  fill: #e7e9fc;
  background-color: var(--button-hero-active);
}

.social-network-list {
  display: flex;
  justify-content: space-between;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 12px;
}

.social-network {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--irish);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.social-network:hover,
.social-network:focus,
.social-network:active {
  background-color: var(--button-hero-active);
}

.workers-data-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header .container {
    width: 736px;
  }

  .button-mobil {
    display: none;
  }
  .nav-transition .item + .item {
    margin-left: 40px;
  }
  .nav-transition {
    display: flex;
    margin-left: 123px;
  }

  .contacts-style-item {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 10px;
    margin-left: auto;
  }
  .navigation-style {
    color: var(--navyblue);
    font: var(--primary-font), sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .transition {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navyblue);
    font-weight: 600;
    font-size: 16px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .transition:hover,
  .transition:focus {
    color: var(--slate);
  }

  .transition:active {
    color: var(--irish);
  }

  .link-line {
    position: relative;
  }

  .underline::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: var(--irish);
    border-radius: 2px;
  }

  .underline {
    color: var(--irish);
  }

  .underline:hover,
  .underline:focus {
    color: var(--irish);
  }
  .link-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    width: 100%;
    height: 4px;
    background-color: var(--irish);
    border-radius: 2px;

    transform: scaleX(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-line:hover::after {
    transform: scaleX(1);
  }

  .contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--slate);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: var(--irish);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }

  .contacts-style-item {
    flex-direction: none;
    margin-left: 0;
  }
}

/* ------------------HEADER AND----------------- */

/* ----------------HERO------------------ */

.hero {
  padding-top: 192px;
  padding-bottom: 192px;
  background-color: var(--navyblue);
  background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    url(../img/hero-img/hero-mobile.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin: auto;
  background-size: cover;
  max-width: 100%;
}

@media screen and (min-devise-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-mobile@2x.jpg');
  }
}

@media screen and (min-devise-pixel-ratio: 3) and (max-width: 767px),
  screen and (min-resolution: 288dpi) and (max-width: 767px),
  screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-mobile@3x.jpg');
  }
}

.hero-text {
  color: var(--body-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  max-width: 474px;
  margin: 0 auto;
}

.hero-order {
  display: block;
  background-color: var(--irish);
  color: var(--button-hero-tc);
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  max-width: 635px;
  margin: 0 auto;
  margin-top: 48px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order:hover,
.hero-order:focus {
  background-color: var(--button-hero-active);
  color: var(--button-hero-tc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-order:active {
  background-color: var(--button-hero-active);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------hero-modal-------------- */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0.5;
}

.modal {
  padding: 0;
  margin: 0;
  border-color: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  height: 579px;
  border-radius: 4px;

  background-color: rgb(252, 252, 252);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  cursor: pointer;
  fill: var(--button-close);

  transition-property: fill, background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}
.hero-close-link {
  width: 8px;
  height: 8px;
}

.button-hero-close:hover,
.button-hero-close:focus {
  fill: #e7e9fc;
  background-color: var(--button-hero-active);
}

.modal-title {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 14px;

  font-family: var(--primary-font), sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--navyblue);
}

.modal-forme {
  width: 360px;
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field > .form-field-input {
  border: none;
  background-color: rgb(252, 252, 252);
}
.form-field-label {
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--lightslate);
  margin-bottom: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-input {
  position: relative;
  padding-left: 38px;
}

.modal-input-icon {
  position: absolute;
  top: 40%;
  left: 16px;

  display: inline-block;

  width: 18px;
  height: 24px;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input {
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  outline: 1px solid var(--lightslate);
  border-radius: 4px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus {
  outline: 1px solid var(--irish);
}

.form-field-input:focus ~ .modal-input-icon {
  fill: var(--irish);
}

.form-field-input::placeholder {
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-textarea {
  border: none;
}

.form-field-textarea-label {
  font-family: var(--Primary-font), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--lightslate);
  margin-bottom: 4px;
}

.form-field-textarea {
  width: 360px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;

  outline: 1px solid var(--lightslate);
  background-color: rgba(252, 252, 252);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea:focus {
  outline: 1px solid var(--irish);
}

.form-field-textarea::placeholder {
  font-family: var(--primary-font), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);
}

.modal-privacypolicy {
  width: 100%;
}

.modal-privacypolicy-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.modal-privacypolicy-label-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1.25px solid var(--navyblue);
}

.modal-privacypolicy-input:checked + .modal-privacypolicy-label-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--button-hero-active);
  margin-right: 8px;
  border-radius: 2px;
  border-color: var(--button-hero-active);
  border: none;
}

.modal-privacypolicy {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.modal-privacypolicy-label {
  display: flex;
  font-family: var(--Primary-font), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #757575;
}

.modal-privacypolicy-link {
  font-family: var(--Primary-font), sans-serif;
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--irish);
  text-decoration: underline;
}

.modal-button {
  display: block;
  width: 169px;
  height: 56px;
  background-color: var(--irish);
  color: var(--button-hero-tc);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  margin-top: 24px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: var(--button-hero-active);
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 36px;
    line-height: 1.11;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
    padding-bottom: 108px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-tablet.jpg');
  }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-tablet@2x.jpg');
  }
}

@media screen and (min-devise-pixel-ratio: 3) and (min-width: 768px),
  screen and (min-resolution: 288dpi) and (min-width: 768px),
  screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-tablet@3x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-desktop.jpg');
  }
}

@media screen and (min-devise-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-desktop@2x.jpg');
  }
}

@media screen and (min-devise-pixel-ratio: 3) and (min-width: 1200px),
  screen and (min-resolution: 288dpi) and (min-width: 1200px),
  screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-img/hero-desktop@3x.jpg');
  }
}

/* -----------------------HIRO AND---------------- */

/* ------------------MOBIL Description----------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  line-height: 95%;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

.text-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  line-height: 128%;
  letter-spacing: 0.02em;
  color: var(--page-color-text);
}

.description {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .title-item {
    text-align: center;
  }

  .list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .title-list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .list-item:nth-child(2n + 1) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    line-height: 102%;
  }

  .text-item {
    font-weight: 400;
  }

  .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .list-item:not(:last-child) {
    margin-right: 24px;
  }

  .list-item::before {
    display: block;
    content: '';
    height: 112px;
    border-radius: 4px;
    background-color: var(--clode);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }

  .antenna::before {
    background-image: url('../img/icons/antenna.svg');
  }

  .clock::before {
    background-image: url('../img/icons/clock.svg');
  }

  .diagram::before {
    background-image: url('../img/icons/diagram.svg');
  }

  .astronaut::before {
    background-image: url('../img/icons/astronaut.svg');
  }
}

/*---------------description---------------*/

/* ------------------AND TABLET Description----------------- */
/* ------------------DESCTOP Description----------------- */

/* ------------------AND DESCTOP Description----------------- */

/* ------------------DESCTOP What are we doing----------------- */

@media screen and (max-width: 1199px) {
  .profile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
}

/* ------------------AND DESCTOP What are we doing----------------- */

/* ------------------ mobl Our Team----------------- */

.section-teem-workers {
  background-color: var(--clode);
  padding-top: 120px;
  padding-bottom: 120px;
}

.teem-workers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.workers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 12px;
}

.social-network {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--irish);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.social-network:hover,
.social-network:focus,
.social-network:active {
  background-color: var(--button-hero-active);
}

.workers-data-icon {
  width: 16px;
  height: 16px;
}

.workers-bg-color {
  background-color: var(--body-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.position-workers {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.workers-data {
  padding: 32px 16px;
  text-align: center;
}

.teem-workers-flex {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  justify-content: center;
}

/* ------------------AND mobil Our Team----------------- */

/* ------------------ TABLET Our Team----------------- */

@media screen and (max-width: 767px) {
  .teem-workers-flex {
    justify-content: center;
    flex-wrap: wrap;
  }

  .workers-bg-color:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* ------------------AND TABLET Our Team----------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .workers-bg-color:not(:nth-last-child(-n + 2)) {
    margin-bottom: 64px;
  }

  .teem-workers-flex {
    margin-left: auto;
    margin-right: auto;
  }
  .teem-workers-flex {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .section-teem-workers {
    padding-bottom: 104px;
  }

  .teem-workers-flex {
    flex-wrap: wrap;
  }

  .teem-workers-flex {
    flex-basis: calc((100% - 24px) / 2);
  }

  .workers-bg-color:nth-child(2n + 1) {
    margin-right: 24px;
  }
}
/* ------------------DESCTOP Our Team----------------- */

@media screen and (min-width: 1200px) {
  .teem-workers-flex {
    flex-wrap: nowrap;
  }

  .section-teem-workers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .workers-bg-color:not(:nth-child(4n)) {
    margin-right: 24px;
  }

  .workers-bg-color:not(:nth-last-child(-n + 4)) {
    margin-bottom: 24px;
  }
}

/* ------------------AND DESCTOP Our Team----------------- */

/* @media screen and (max-width: 1199px) {
  .profile {
    display: none;
  }
} */

@media screen and (min-width: 1200px) {
  .profile {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .profile {
    display: flex;
    padding-bottom: 120px;
  }

  .job-profile {
    color: var(--navyblue);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
  }

  .job-profile-img {
    display: flex;
    margin-top: 72px;
    gap: 24px;
  }

  .job-profile-img:not(:last-child) {
    margin-right: 24px;
  }
}

/* -----------------MOBIL Customers------------- */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* .customers-list .item {
  flex-basis: calc((100% - 120px) / 6);
} */

.customers-list-icon-svg {
  width: 104px;
  height: 56px;
}

.customers-list-icon-link {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  border: 1px solid var(--lightslate);

  transition-property: color, border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.customers-list-icon-link:hover,
.customers-list-icon-link:focus {
  color: var(--irish);
  border: 1px solid var(--irish);
}

.customers-list-icon-svg {
  fill: currentColor;
}

@media screen and (max-width: 427px) {
  .customers-list-icon-link:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* @media screen and (min-width: 428px) and (max-width: 767px) {
  .customers-list-icon-link:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }

  .customers-list-icon-link:nth-child(2n + 1) {
    margin-right: 16px;
  }
} */

/* -----------------AND MOBIL Customers------------- */
/* -----------------TABLET Customers------------- */

@media screen and (min-width: 768px) {
  .customers-list {
    flex-basis: calc((100% - 16px) / 6);
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .subscribe-footer {
    margin-left: 0;
  }

  .customers-svg-border {
    width: 168px;
  }
}
/* -----------------AND TABLET Customers------------- */
/* -----------------DESCTOP Customers------------- */
/* @media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-icon-link:not(:nth-child(3n + 3)) {
    margin-right: 24px;
  } */

/* .customercustomers-list-icon-link:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
} */
@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 22px;
  }
}
/* -----------------AND DESCTOP Customers------------- */
/* ----------------------------------------FOOTER-------------- */

.end-page > .container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  /* display: flex;
  flex-wrap: wrap; */
}

.end-page {
  background-color: var(--navyblue);
  padding-top: 100px;
  padding-bottom: 100px;
}

/* .subscribe-footer {
  margin-left: 80px;
} */

.logo-studio-end-page {
  text-transform: uppercase;
  color: var(--button-hero-tc);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

/* .subscribe-button-form {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.end-page-text {
  color: var(--cornflower);
  font-size: 16px;
  line-height: 1.2;
  width: 264px;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.social-media-text {
  font-family: var(--Primary-font) sans-serif;
  color: var(--body-bg-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.social-media-footer {
  width: 40px;
  height: 40px;
  background-color: var(--social-footer-bg-color);
  border-radius: 50%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.social-media-icon {
  width: 16px;
  height: 16px;
}

.social-media-footer:hover,
.social-media-footer:focus {
  background-color: var(--success);
}

.subscribe-label-title {
  color: var(--body-bg-color);
  font-family: var(--Primary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.subscribe-label-input {
  height: 40px;
  background-color: 1px solid var(--navyblue);
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--body-bg-color);
  width: 100%;
}

.subscribe-label-input::placeholder {
  font-family: var(--Primary-font-), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  border: #ffffff 30%;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 40px;
  font-family: var(--Primary-font), sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--irish);
  color: var(--body-bg-color);
  border-radius: 4px;
  border: none;
  /* margin-left: 24px; */
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-hero-active);
}

.subscribe-button-text {
  top: 8px;
  bottom: 8px;
  left: 24px;
  font-family: var(--Primary-font), sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.subscribe-svg {
  top: 8px;
  bottom: 8px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* ----------------------------FOOTER-------------- */

/* ------------------AND MOBIL FOOOTER--------------- */
@media screen and (max-width: 767px) {
  .possibility {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .fend-page-text {
    display: block;
    justify-content: center;
    align-items: center;
  
  } */

  /* .center-text {

  } */

  .center-text {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .end-page-text {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }

  /* .social-media-text {
    display: flex;
    margin-bottom: 16px;
  } */

  .social-media-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .subscribe-label-title {
    margin-top: 72px;
  }

  .subscribe-label-input {
    margin-bottom: 16px;
  }
}

.footer-user-btn {
  display: flex;
  justify-content: center;
}
/* ------------------TABLET FOOOTER--------------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tab-content {
    width: 453px;
    height: 80px;
  }


  .footer-tablet {
    padding-left: 92px;
    padding-right: 92px;
  }

  .container {
    width: 736px;
  }

  .social-media {
    display: block;
  }

  .subscribe-footer {
    display: block;
    
    
  }

  .logosocial {
    display: flex;
    
  }

  .social-media {
    margin-left: 24px;
  }

  .subscribe-footer {
    margin-top: 72px;
  }

  .subscribe-label-input {
    width: 264px;
  }
.subscribe-button-form {
  display: flex;
  justify-content:;
}

.footer-user-btn {
  margin-left: 24px;
}

}



/* ------------------AND TABLET FOOOTER--------------- */
/* ------------------DESCTOP FOOOTER--------------- */
/* ------------------AND DESCTOP FOOOTER--------------- */

/* 
@media screen and (max-width: 767px) {
  .subscribe-footer {
    margin-left: 0;
  }

  .subscribe-button-form {
    margin-left: 0px;
  }
  .social-media {
    margin-left: 0;
  }

  .subscribe-footer {
    margin-left: 0;
  }

  .subscribe-button-form {
    flex-direction: column;
  }

  .ceter-textn {
    display: flex;
    justify-content: center;
  }

  .subscribe-label-input {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-label-input {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-content-logo-text {
    margin-bottom: 72px;
  }

  .social-media {
    margin-bottom: 72px;
    margin-left: 0;
  }ribe
}

@media screen and (min-width: 768px) {
  .footer-logo-text {
    display: flex;
    gap: 24px;
  }

  .subscribe-label-input {
    width: 264px;
  }

  .subscribe-button-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet .container {
    flex-wrap: wrap;
    width: 565px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .end-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content {
    display: flex;
    align-items: baseline;
  }

  .social-media {
    margin-left: 120px;
  }

  .social-media-text {
    margin-bottom: 16px;
  }

  .social-media {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-label-input {
    width: 100%;
  }

  .end-page {
    justify-content: center;
  }
  .center-text {
    display: flex;
    justify-content: center;
  }

  .footer-user-btn {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-label-input {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-content-logo-text {
    margin-bottom: 72px;
  }

  .social-media {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo-text {
    display: flex;
    gap: 24px;
  }

  .subscribe-label-input {
    width: 264px;
  }

  .subscribe-button-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .end-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content {
    display: flex;
    align-items: baseline;
  }

  .social-media {
    margin-left: 120px;
  }

  .social-media-text {
    margin-bottom: 16px;
  }

  .social-media {
    margin-left: auto;
  }
} */

/* ----------------------------------------AND MOBIL FOOTER-------------- */
/* ----------------------------------------TABLET FOOTER-------------- */
/* ----------------------------------------AND TABLET FOOTER-------------- */
/* ----------------------------------------DESCTOP FOOTER-------------- */
/* ----------------------------------------AND DESCTOP FOOTER-------------- */

/* ----------------------------------------STAROE-------------- */
/* @media screen and (max-width: 479px) {
  .logoburger {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
  }

  .item .contacts {
    display: none;
  }

  .list .contacts {
    display: none;
  }

  

 
} */

/* @media screen and (min-width: 480px) {
  .container-description {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
justify-content: center;
}
  
  .container .contacts-style-item {
    display: none;
  }

  .item .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {

} */

/* @media screen and (min-width: 1200px) {
  .navigation-style {
    display: flex;
  }
  .contacts-style-item {
    display: flex;
    flex-direction: row;
  }
  .end-page > .container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container {
    width: 1158px;
  }
}

.primary-style {
  justify-content: center;
}





.contacts-style-item {
  display: flex;
  flex-direction: row;
} */

/* .page-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  align-items: center;
  justify-content: space-between;
}

.hero-close-link {
  width: 8px;
  height: 8px;
}

.button-hero-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  cursor: pointer;
  fill: var(--button-close);

  transition-property: fill, background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

@media screen and (max-width: 767px) {
  .customers-lishca {
    flex-basis: calc((100% - 24px) / 2);
  }
  .nav-trobiansition {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .customers-lishca {
    flex-basis: calc((100% - 48px) / 3);
  }

  .contacts-style-item {
    display: flex;
    flex-direction: column;
  }

  .navigation-style {
    display: flex;
  }

  .mobil-modal {
    display: none;
  }

  

  .header-style {
    padding-bottom: 22px;
  }

  .header-style .container {
    display: flex;
    align-items: center;
    width: 768px;
  }

  .nav-transition {
    display: flex;
    align-items: center;
    margin-left: 77px;
  }

  .nav-transition .item + .item {
    margin-left: 40px;
  }



  
  .link-line {
    position: relative;
  }

  .underline::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: var(--irish);
    border-radius: 2px;
  }

  .underline {
    color: var(--irish);
  }

  .underline:hover,
  .underline:focus {
    color: var(--irish);
  }
  .link-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    width: 100%;
    height: 4px;
    background-color: var(--irish);
    border-radius: 2px;

    transform: scaleX(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-line:hover::after {
    transform: scaleX(1);
  }


}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-lishca {
    flex-basis: calc((100% - 120px) / 6);
  }
  .nav-trobiansition {
    display: flex;
  }

  .contacts-style-item {
    display: flex;
    flex-direction: row;
  }

  .mobil-modal {
    display: none;
  }

  .button-mobil {
    display: none;
  }
  .transition {
    padding-bottom: 19px;
  }

  .header-style {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-transition {
    display: flex;
  }

  .header-style .container {
    width: 1158px;
  }

  .mobil-modal {
    display: none;
  }

  .button-mobil {
    display: none;
  }
  .header-style {
    padding-bottom: 28px;
  }

  .transition {
    padding-bottom: 30px;
  }

  .contacts-style-item .list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
    color: var(--slate);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-style-item .list:hover,
  .contacts-style-item .list:focus {
    color: var(--irish);
  }

  .itemcontacts-style-item {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
} */

/* .button-hero-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  cursor: pointer;
  fill: var(--button-close);

  transition-property: fill, background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
} */
/* -----------------mobil-header----------------- */

/* -------------------hero----------- */

/* advantages */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.title-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  line-height: 95%;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

.text-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  line-height: 128%;
  letter-spacing: 0.02em;
  color: var(--page-color-text);
}

.description {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .title-item {
    text-align: center;
  }

  .list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-item:nth-child(-n + 2) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .title-list {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .list-item:nth-child(2n + 1) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    line-height: 102%;
  }

  .text-item {
    font-weight: 400;
  }

  .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .list-item:not(:last-child) {
    margin-right: 24px;
  }

  .list-item::before {
    display: block;
    content: '';
    height: 112px;
    border-radius: 4px;
    background-color: var(--clode);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }

  .antenna::before {
    background-image: url('../img/icons/antenna.svg');
  }

  .clock::before {
    background-image: url('../img/icons/clock.svg');
  }

  .diagram::before {
    background-image: url('../img/icons/diagram.svg');
  }

  .astronaut::before {
    background-image: url('../img/icons/astronaut.svg');
  }
} */

/* ---------------profile------------- */

/* @media screen and (max-width: 1199px) {
  .profile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .profile {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .profile {
    display: flex;
    padding-bottom: 120px;
  }

  .job-profile {
    color: var(--navyblue);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
  }

  .job-profile-img {
    display: flex;
    margin-top: 72px;
    gap: 24px;
  }

  .job-profile-img:not(:last-child) {
    margin-right: 24px;
  }
} */
/* -------------------our-team-------------- */

/* .section-teem-workers {
  background-color: var(--clode);
  padding-top: 120px;
  padding-bottom: 120px;
}

.teem-workers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.workers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 12px;
}

.social-network {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--irish);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.social-network:hover,
.social-network:focus,
.social-network:active {
  background-color: var(--button-hero-active);
}

.workers-data-icon {
  width: 16px;
  height: 16px;
}

.workers-bg-color {
  background-color: var(--body-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.position-workers {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.workers-data {
  padding: 32px 16px;
  text-align: center;
}

.teem-workers-flex {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .teem-workers-flex {
    justify-content: center;
    flex-wrap: wrap;
  }

  .workers-bg-color:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .workers-bg-color:not(:nth-last-child(-n + 2)) {
    margin-bottom: 64px;
  }

  .teem-workers-flex {
    margin-left: auto;
    margin-right: auto;
  }
  .teem-workers-flex {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .section-teem-workers {
    padding-bottom: 104px;
  }

  .teem-workers-flex {
    flex-wrap: wrap;
  }

  .teem-workers-flex {
    flex-basis: calc((100% - 24px) / 2);
  }

  .workers-bg-color:nth-child(2n + 1) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .teem-workers-flex {
    flex-wrap: nowrap;
  }

  .section-teem-workers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .workers-bg-color:not(:nth-child(4n)) {
    margin-right: 24px;
  }

  .workers-bg-color:not(:nth-last-child(-n + 4)) {
    margin-bottom: 24px;
  }
} */

/* -------------Customers-----------------  */
/* .section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list .item {
  flex-basis: calc((100% - 120px) / 6);
}

.customers-list-icon-svg {
  width: 104px;
  height: 56px;
}

.customers-list-icon-link {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  border: 1px solid var(--lightslate);

  transition-property: color, border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.customers-list-icon-link:hover,
.customers-list-icon-link:focus {
  color: var(--irish);
  border: 1px solid var(--irish);
}

.customers-list-icon-svg {
  fill: currentColor;
}

@media screen and (max-width: 427px) {
  .customers-list-icon-link:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .customers-list-icon-link:not(:nth-last-child(-n + 2)) {
    margin-bottom: 72px;
  }

  .customers-list-icon-link:nth-child(2n + 1) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-icon-link:not(:nth-child(3n + 3)) {
    margin-right: 24px;
  }

  .customercustomers-list-icon-link:not(:nth-last-child(-n + 3)) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    flex-basis: calc((100% - 48px) / 3);
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .subscribe-footer {
    margin-left: 0;
  }

  .customers-svg-border {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 22px;
  }
} */
/* -----------portfolio--------------------------------- */

/* .portfolio-style {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-flex {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

filter {
  font-family: var(--Primary-font);
  color: var(--irish);
  background-color: var(--clode);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  min-width: auto;
  text-align: center;
  border: none;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.filter:hover,
.filter:focus {
  background-color: var(--irish);
  color: var(--button-hero-tc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-name {
  color: var(--navyblue);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.card-layer-box {
  position: relative;
  overflow: hidden;
}

.card-layer-box::before {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 360px;
  height: 300px;
  background-color: var(--irish);

  transform: translatey(100%);
  opacity: 0;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.card:hover .card-layer-box::before,
.card:focus .card-layer-box::before {
  transform: translatey(0%);
  opacity: 1;
}

.card:hover .card-layer-text,
.card:focus .card-layer-text {
  transform: translatey(0%);
  opacity: 1;
}

.card-layer-text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;

  font-family: Roboto, sans-serif;
  font-style: 400;
  font-size: 16px;
  line-height: 1.5;

  transform: translatey(300%);
  color: var(--clode);
  opacity: 0, 2;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-comment {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
}

.card-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 2px solid var(--border-button-shadow);
  border-bottom: 2px solid var(--border-button-shadow);
  border-right: 2px solid var(--border-button-shadow);
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}

.portfolio-flex > .card {
  margin-left: 24px;
  margin-top: 48px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic-bezier);
}

.portfolio-flex > .card:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
} */

/* --------------------footer---------------------- */
